#header
    button.btn.hbg-icon
        img(src='/src/assets/img/hamburger.svg')
        
    .left-header-items
        a.logo(href='/src/pages/main.pug')
            img(src="/src/assets/img/logo.svg")
        .menus
            ul
                li
                    a(href='/src/pages/myskills.pug') MY SKILL
                li
                    a HELP
                li
                    a.green#menu-world(
                        data-container="#menu-world" 
                        data-toggle="popover" 
                        data-placement="right" 
                        data-html="true"
                        data-content="New menu for Premium user!<br/> Check what other people casts about!"
                        href="/src/pages/top-world.pug"
                        ) WORLD
    .profile
        img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzix6zlJLz7MDcz907yfj-wRJnZ1FvktyrFmfJYuEPPOV7jVv52g')
#mobile-menu
    ul
        li
            a MY SKILL
        li
            a HELP
        li
            a.green WORLD
        li
            a.close-mobile-menu
                img(src='/src/assets/img/close-x.svg')